@import "config";
//SCSS function makes text light on dark bg and dark on light bg
@function text-color-picker($color) {
    @if(lightness($color) > 70) {
        @return black;

    } @else {
        @return white;
    }
}

//A SCSS Mixin
@mixin set-bg($color) {
    background-color: $color;
    color: text-color-picker($color)
}

//Standard CSS
box {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}